.section1 {
	background-image: url("../src/static/fondoChess.jpg");
	background-size: cover;
	background-position: center center;
	.seccion1__menu--sociales {
		width: 3rem;
		height: 15rem;

		position: fixed;
		left: 5rem;
		top: 28rem;

		display: grid;
		grid-template-columns: 1fr;
		justify-content: center;
		display: none;

		i {
			font-size: 1.5rem;
			color: white;
			cursor: pointer;
			padding: 0.7rem 0;
			&:hover {
				transform: scale(1.1);
				color: $color-ternario;
			}
		}
	}

	.fp-tableCell {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 8rem;
		.event {
			margin: 10rem auto 0 auto;
		}

		h4 {
			padding: 1rem 3rem;
			border-radius: 25px;
			background-color: $color-secundario;
			box-shadow: 0 1.8px 2.2px rgba(0, 0, 0, 0.084), 0 4.3px 5.3px rgba(0, 0, 0, 0.121),
				0 8px 10px rgba(0, 0, 0, 0.15), 0 14.3px 17.9px rgba(0, 0, 0, 0.179),
				0 26.7px 33.4px rgba(0, 0, 0, 0.216), 0 64px 80px rgba(0, 0, 0, 0.3);
		}
		i {
			margin-right: 1rem;
		}
		.icono--abajo {
			margin-top: 5rem;
			color: white;
			font-size: 2rem;
			animation: parpadeo 3s infinite;
			cursor: pointer;
		}
		@keyframes parpadeo {
			0% {
				transform: translateY(0px) scale(1);
			}
			50% {
				transform: translateY(10px) scale(1.1);
			}
			100% {
				transform: translateY(0px) scale(1);
			}
		}
	}
	.seccion1__imgDama {
		display: none;
	}
}

//TODO--------------------------------------------- CONFIGURACION FULLPAGE.JS-----------------------------------------------------------------------------
.iconoLogo {
	height: 4rem;
	width: 4rem;
}
#fp-nav ul li a span {
	background-color: $color-ternario;
	display: none;
}
#fp-nav ul li .fp-tooltip {
	color: $color-ternario;
	display: none;
}
.menu {
	padding: 0;
	margin: 0 auto;
}
.nav {
	box-sizing: border-box;
	position: fixed;

	align-items: center;
	justify-content: space-between;
	z-index: 99999;
	width: 100%;
	margin: 0;
	padding: 1.5rem;
	text-align: center;
	.logotipo {
		text-decoration: none;
		color: white;
		font-size: 2.5rem;
		margin: 0 auto;
	}

	li {
		display: inline-block;
		margin-top: 1rem;
		a {
			font-size: 1rem;
			display: inline-block;
			margin: 0.5rem;
			text-decoration: none;
			text-transform: uppercase;
			font-family: "Open Sans", "Helvetica Neue", sans-serif;
			color: white;
			transition: 0.5s ease;
		}

		&.active a {
			color: $color-primario;
			background-color: $color-ternario;
		}
		&.active {
			color: $color-primario;
			background-color: $color-ternario;
		}
	}
}
@media (min-width: 450px) {
}
@media (min-width: 650px) {
	.section1 {
		.seccion1__menu--sociales {
			display: block;
		}
	}
	#fp-nav ul li a span {
		background-color: $color-ternario;
		display: block;
	}
	#fp-nav ul li .fp-tooltip {
		color: $color-ternario;
		display: block;
	}
}
@media (min-width: 900px) {
	.section1 {
		.fp-tableCell {
			margin-top: 2rem;
			h4 {
				padding: 1rem 6rem;
			}
		}
	}
	.nav {
		display: flex;
		align-items: center;

		.logotipo {
			display: block;
			margin: 0;
		}
	}
	.menu {
		margin: 0;
	}
}
@media (min-width: 1200px) {
}
@media (min-width: 2000px) {
}
