/** 
*!Tipografias -------------------------------------------------------------------------------------------------------
**/

$tipografia-titulos: "Palanquin", sans-serif;
$tipografia-parrafos: "Roboto", sans-serif;

/** 
*!Colores -------------------------------------------------------------------------------------------------------
**/

$color-primario: #252525;
$color-secundario: #c2c2c2;
$color-ternario: #52b69a;

/** 
*!Tamaño Titulos -------------------------------------------------------------------------------------------------------
**/

$h1: 3rem;
$h2: 2.5rem;
$h3: 2rem;
$h4: 1.5rem;
$h5: 1rem;
$h6: 0.7rem;
$p: 0.5rem;

/** 
*!Tamaño Iconos -------------------------------------------------------------------------------------------------------
**/

$tamaño-iconos: 1.5rem;
