/** 
*!Tipografias -------------------------------------------------------------------------------------------------------
**/

$tipografia-titulos: "Palanquin", sans-serif;
$tipografia-parrafos: "Roboto", sans-serif;

/** 
*!Colores -------------------------------------------------------------------------------------------------------
**/

$color-primario: #252525;
$color-secundario: #c2c2c2;
$color-ternario: #52b69a;

/** 
*!Tamaño Titulos -------------------------------------------------------------------------------------------------------
**/

$h1: 4rem;
$h2: 3.5rem;
$h3: 3rem;
$h4: 2.5rem;
$h5: 2rem;
$h6: 1.5rem;
$p: 1rem;

/** 
*!Tamaño Iconos -------------------------------------------------------------------------------------------------------
**/

$tamaño-iconos: 1.5rem;
